

<h2>
    ok
</h2>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        localStorage.clear();
        window.location.href = "/Authen/Login";

    });
</script>


